/* line 1, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
}
/* line 7, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show a {
  font-size: 16px;
  padding: 5px 10px;
  background: #eee;
  border-radius: 3px;
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #ddd;
}
/* line 17, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show a:hover {
  border-color: #ccc;
}
/* line 21, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show section {
  margin: 0 auto;
}
/* line 25, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 15px;
}
/* line 31, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show select {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 40px;
  font-size: 17px;
  cursor: pointer;
  background: #eee;
}
/* line 41, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show ul {
  margin-top: 30px;
}
/* line 45, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show li {
  background: #eee;
  padding: 10px;
  margin: 10px 0 25px 0;
  position: relative;
  min-height: 80px;
}
/* line 53, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show .response-info {
  float: right;
  width: 80%;
}
/* line 58, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show h2 {
  margin-top: 10px;
}
/* line 62, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 68, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show h4 {
  font-size: 12px;
}
/* line 75, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
.show p {
  font-style: italic;
  font-size: 12px;
  float: right;
}

/* line 82, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/admin_questionnaire.scss */
ul li .name-and-label {
  float: left;
  display: block;
  width: 20%;
}
