/* line 1, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container {
  background-color: #1581b9;
  width: 100%;
}
/* line 5, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container header {
  height: 70px;
  width: 65%;
  margin: 0 auto;
  display: block;
}
/* line 12, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container header img {
  display: inline-block;
  float: left;
  height: 45%;
  padding-top: 20px;
  padding-bottom: 17px;
}
/* line 20, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container header h1 {
  color: white;
  font-size: 16px;
  vertical-align: middle;
  display: inline;
  line-height: 75px;
  margin-left: 15px;
  font-weight: 400;
  font-family: Georgia, serif;
}
/* line 31, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container header span {
  font-weight: 300;
  font-size: 8px;
  color: white;
  vertical-align: super;
}
/* line 38, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container header nav {
  float: right;
}
/* line 41, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container header nav h3, .header-container header nav button, .header-container header nav link {
  float: left;
  display: inline-block;
  vertical-align: middle;
}
/* line 48, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container header h3 {
  color: white;
  font-size: 15px;
  margin-top: 27px;
}
/* line 54, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container header a, .header-container header button {
  color: white;
  border: 1px solid #74b4d6;
  padding: 6px 13px;
  border-radius: 2px;
  margin-left: 10px;
  font-size: 15px;
  line-height: 17px;
  margin-top: 20px;
  display: inline-block;
}
/* line 66, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container header a:hover, .header-container header button:hover {
  text-decoration: underline;
  text-shadow: 0 1px 1px #4c8308;
}
/* line 71, /Users/taylorherron/everplans-questionnaire/app/assets/stylesheets/header.scss */
.header-container header .signup, .header-container header button {
  background-color: #7bcb03;
  text-shadow: 0 1px 1px #4c8308;
}
