html, body, header, nav, h1, h3, h4, h6, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small, span,
canvas, wave {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  background: transparent;
  vertical-align: inherit
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #223d4c;
}

ul {
  list-style: none;
}

a, button {
  cursor: pointer;
}

.main {
  max-width: 60vw;
  margin: 0 auto;
}
