.user-form {

  ul {

    li.form-error {
      text-align: center;
      color: #ff1c1c;
      font-size: 16px;
      background: none;
      margin: 0;
    }

    li {

      .name-and-label {
        width: 100%;
      }
    }
  }

  h6 {
    margin-bottom: 10px;
  }

  textarea {
    background: white;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    height: 70px;
    box-sizing: border-box;
    padding: 5px;
  }

  .submit {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}
